<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252624721432-887rtgbcgachb9tgbr2t5tednkf9r7mi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252624721432-887rtgbcgachb9tgbr2t5tednkf9r7mi</string>
	<key>API_KEY</key>
	<string>AIzaSyBbCCNx715NLq0Js5_gLP0CBvpokYS7lDA</string>
	<key>GCM_SENDER_ID</key>
	<string>252624721432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pamodzi.integritylink</string>
	<key>PROJECT_ID</key>
	<string>integrity-link</string>
	<key>STORAGE_BUCKET</key>
	<string>integrity-link.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252624721432:ios:9c161064894648234f156d</string>
</dict>
</plist>